<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <video controls autoplay=true width=500>
        <source
            src='https://upload.wikimedia.org/wikipedia/commons/transcoded/1/1c/Joy_%26_Heron_-_Animated_CGI_Spot_by_Passion_Pictures.webm/Joy_%26_Heron_-_Animated_CGI_Spot_by_Passion_Pictures.webm.480p.vp9.webm'
            type='video/mp4' />
        <track kind="subtitles" default src="../static/test.vtt" srclang="en" label="mySubtitle">
        <!-- <track kind="subtitles" src="Input your vtt files" srclang="en" label="Korean2">   
        <track kind="subtitles" src="Input your vtt files" srclang="en" label="Korean3"> -->
    </video>
</body> 

</html> 